aniso8601==3.0.2
Babel==2.6.0
backports.csv==1.0.7
certifi==2019.3.9
chardet==3.0.4
defusedxml==0.6.0
diff-match-patch==20181111
dj-database-url==0.5.0
Django==2.2.1
django-adaptors==0.2.5
django-autoslug-iplweb==1.9.4.dev0
django-cities-light==3.5.0
django-csvimport==2.12
django-heroku==0.3.1
django-import-export==1.2.0
django-phonenumber-field==2.4.0
et-xmlfile==1.0.1
graphene==2.1.3
graphene-django==2.2.0
graphql-core==2.1
graphql-relay==0.4.5
gunicorn==19.9.0
html5lib==1.0.1
idna==2.8
jdcal==1.4.1
json-table-schema==0.2.1
libmagic==1.0
lxml==4.3.3
messytables==0.15.2
odfpy==1.4.0
openpyxl==2.6.2
phonenumbers==8.10.12
progressbar2==3.39.3
promise==2.2.1
psycopg2==2.8.2
python-dateutil==2.8.0
python-utils==2.3.0
pytz==2019.1
PyYAML==5.1
requests==2.22.0
Rx==1.6.1
singledispatch==3.4.0.3
six==1.12.0
sqlparse==0.3.0
tablib==0.13.0
Unidecode==1.0.23
urllib3==1.25.2
webencodings==0.5.1
whitenoise==4.1.2
xlrd==1.2.0
xlwt==1.3.0
